<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GOMIN Pooljang</title>
    <link rel="stylesheet" href="../static/css/content.css" />
  </head>
  <body>
    <div class="index-container-wrap">
      <div class="index-container">
        <%-include('./include/header') %>
        <div class="main-body">
          <div class="temp"></div>
          <div class="board">
            <div class="notice">
              <h1>공지사항: asdㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇasdasdasdasdadadsad</h1>
            </div>

            <div class="content-wrap">
              <div class="content-row content-row-1">
                <h4>내가보낸고민</h4>
              </div>

              <div class="content-row content-row-2">
                <div class="container-col">
                  <div class="container-col title-box">
                    <h4>제목</h4>
                  </div>
                  <div class="container-col gomin-box">
                    <h4>무슨무슨고민나옴</h4>
                  </div>
                </div>
              </div>

              <div class="content-row content-row-3">
                <div class="container-col">
                  <div class="container-col date-box">
                    <h4>일시</h4>
                  </div>
                  <div class="container-col date-box2">
                    <h4 style="margin-right: 550px">날짜가나옴</h4>
                  </div>
                </div>
              </div>
              <div class="content-row content-row-4">
                <div class="container-col" style="margin-top: 3px">
                  <div class="container-col content-box1">
                    <h4>내용</h4>
                  </div>
                  <div class="container-col content-box2">
                    <h4>
                      내용이나옴ㅁㄴㅇㅁ나ㅣㅇ마닝마ㅣㄴㅇ민아밍니망니ㅏㅁ니아민아민아ㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅈㄷㅂㅈㄷㅂㄷㅈㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅁㄴㅣㅁ아민임니
                    </h4>
                    <h4>
                      내용이나옴ㅁㄴㅇㅁ나ㅣㅇ마닝마ㅣㄴㅇ민아밍니망니ㅏㅁ니아민아민아ㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅈㄷㅂㅈㄷㅂㄷㅈㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅁㄴㅣㅁ아민임니
                    </h4>
                    <h4>
                      내용이나옴ㅁㄴㅇㅁ나ㅣㅇ마닝마ㅣㄴㅇ민아밍니망니ㅏㅁ니아민아민아ㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅈㄷㅂㅈㄷㅂㄷㅈㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅁㄴㅣㅁ아민임니
                    </h4>
                    <h4>
                      내용이나옴ㅁㄴㅇㅁ나ㅣㅇ마닝마ㅣㄴㅇ민아밍니망니ㅏㅁ니아민아민아ㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅈㄷㅂㅈㄷㅂㄷㅈㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅁㄴㅣㅁ아민임니
                    </h4>
                    <h4>
                      내용이나옴ㅁㄴㅇㅁ나ㅣㅇ마닝마ㅣㄴㅇ민아밍니망니ㅏㅁ니아민아민아ㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅈㄷㅂㅈㄷㅂㄷㅈㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅁㄴㅣㅁ아민임니
                    </h4>
                    <h4>
                      내용이나옴ㅁㄴㅇㅁ나ㅣㅇ마닝마ㅣㄴㅇ민아밍니망니ㅏㅁ니아민아민아ㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅈㄷㅂㅈㄷㅂㄷㅈㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅁㄴㅣㅁ아민임니
                    </h4>
                    <h4>
                      내용이나옴ㅁㄴㅇㅁ나ㅣㅇ마닝마ㅣㄴㅇ민아밍니망니ㅏㅁ니아민아민아ㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅈㄷㅂㅈㄷㅂㄷㅈㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅁㄴㅣㅁ아민임니
                    </h4>
                    <h4>
                      내용이나옴ㅁㄴㅇㅁ나ㅣㅇ마닝마ㅣㄴㅇ민아밍니망니ㅏㅁ니아민아민아ㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅈㄷㅂㅈㄷㅂㄷㅈㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅁㄴㅣㅁ아민임니
                    </h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="content-wrap">
              <div class="content-row content-row-1" style="width: 10%">
                <h4>답장</h4>
              </div>

              <div class="content-row content-row-2">
                <div class="container-col">
                  <div class="container-col title-box">
                    <h4>제목</h4>
                  </div>
                  <div class="container-col gomin-box">
                    <h4>무슨무슨고민나옴</h4>
                  </div>
                </div>
              </div>

              <div class="content-row content-row-3">
                <div class="container-col">
                  <div class="container-col date-box">
                    <h4>일시</h4>
                  </div>
                  <div class="container-col date-box2">
                    <h4 style="margin-right: 550px">날짜가나옴</h4>
                  </div>
                </div>
              </div>
              <div class="content-row content-row-4">
                <div class="container-col" style="margin-top: 3px">
                  <div class="container-col content-box1">
                    <h4>내용</h4>
                  </div>
                  <div class="container-col content-box2">
                    <h4>
                      내용이나옴ㅁㄴㅇㅁ나ㅣㅇ마닝마ㅣㄴㅇ민아밍니망니ㅏㅁ니아민아민아ㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅈㄷㅂㅈㄷㅂㄷㅈㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅁㄴㅣㅁ아민임니
                    </h4>
                    <h4>
                      내용이나옴ㅁㄴㅇㅁ나ㅣㅇ마닝마ㅣㄴㅇ민아밍니망니ㅏㅁ니아민아민아ㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅈㄷㅂㅈㄷㅂㄷㅈㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅁㄴㅣㅁ아민임니
                    </h4>
                    <h4>
                      내용이나옴ㅁㄴㅇㅁ나ㅣㅇ마닝마ㅣㄴㅇ민아밍니망니ㅏㅁ니아민아민아ㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅈㄷㅂㅈㄷㅂㄷㅈㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅁㄴㅣㅁ아민임니
                    </h4>
                    <h4>
                      내용이나옴ㅁㄴㅇㅁ나ㅣㅇ마닝마ㅣㄴㅇ민아밍니망니ㅏㅁ니아민아민아ㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅈㄷㅂㅈㄷㅂㄷㅈㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅁㄴㅣㅁ아민임니
                    </h4>
                    <h4>
                      내용이나옴ㅁㄴㅇㅁ나ㅣㅇ마닝마ㅣㄴㅇ민아밍니망니ㅏㅁ니아민아민아ㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅈㄷㅂㅈㄷㅂㄷㅈㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅁㄴㅣㅁ아민임니
                    </h4>
                    <h4>
                      내용이나옴ㅁㄴㅇㅁ나ㅣㅇ마닝마ㅣㄴㅇ민아밍니망니ㅏㅁ니아민아민아ㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅈㄷㅂㅈㄷㅂㄷㅈㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅁㄴㅣㅁ아민임니
                    </h4>
                    <h4>
                      내용이나옴ㅁㄴㅇㅁ나ㅣㅇ마닝마ㅣㄴㅇ민아밍니망니ㅏㅁ니아민아민아ㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅈㄷㅂㅈㄷㅂㄷㅈㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅁㄴㅣㅁ아민임니
                    </h4>
                    <h4>
                      내용이나옴ㅁㄴㅇㅁ나ㅣㅇ마닝마ㅣㄴㅇ민아밍니망니ㅏㅁ니아민아민아ㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅈㄷㅂㅈㄷㅂㄷㅈㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅁㄴㅣㅁ아민임니
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ad"></div>
        </div>
      </div>
    </div>

    <script></script>
  </body>
</html>
