<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GOMIN Pooljang</title>
    <link rel="stylesheet" href="../static/css/content_res.css" />
  </head>
  <body>
    <div class="index-container-wrap">
      <div class="index-container">
        <%-include('./include/header') %>
        <div class="main-body">
          <div class="temp">
            <h1>온도자리</h1>
            <h1>온도자리</h1>
            <h1>온도자리</h1>
          </div>
          <div class="board">
            <div class="notice">
              <h1>공지사항: asdㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇasdasdasdasdadadsad</h1>
            </div>

            <div class="content-wrap-1">
              <div class="content-wrap">
                <div class="content-wrap-row-1">
                  <div class="my-gomin"><h2>받은 고민</h2></div>
                  <div class="menu-list">
                    <a href="/mypage"
                      ><button class="menu-list-btn"><h2>목록</h2></button></a
                    >
                    <a href="/mypage"
                      ><button class="menu-list-btn"><h2>이전</h2></button></a
                    >
                    <a href="/mypage"
                      ><button class="menu-list-btn"><h2>다음</h2></button></a
                    >
                  </div>
                </div>
              </div>

              <div class="content-wrap">
                <div class="content-wrap-row-2">
                  <div class="my-title"><h2>제목</h2></div>
                  <div class="title-field"><h2>제목이 나오는곳</h2></div>
                </div>
              </div>

              <div class="content-wrap">
                <div class="content-wrap-row-3">
                  <div class="my-date"><h2>일시</h2></div>
                  <div class="date-field"><h2>일시가 나오는곳</h2></div>
                </div>
              </div>

              <div class="content-wrap">
                <div class="content-wrap-row-4">
                  <div class="my-content"><h2>내용</h2></div>
                  <div class="content-field">
                    <h2>
                      내용이 나오는곳내용이 나오는곳내용이 나오는곳내용이
                      나오는곳내용이 나오는곳내용이 나오는곳내용이
                      나오는곳내용이 나오는곳내용이 나오는곳내용이
                      나오는곳내용이 나오는곳내용이 나오는곳내용이
                      나오는곳내용이 나오는곳내용이 나오는곳내용이
                    </h2>
                    <h2>
                      내용이 나오는곳내용이 나오는곳내용이 나오는곳내용이
                      나오는곳내용이 나오는곳내용이 나오는곳내용이
                      나오는곳내용이 나오는곳내용이 나오는곳내용이
                      나오는곳내용이 나오는곳내용이 나오는곳내용이
                      나오는곳내용이 나오는곳내용이 나오는곳내용이
                    </h2>
                    <h2>
                      내용이 나오는곳내용이 나오는곳내용이 나오는곳내용이
                      나오는곳내용이 나오는곳내용이 나오는곳내용이
                      나오는곳내용이 나오는곳내용이 나오는곳내용이
                      나오는곳내용이 나오는곳내용이 나오는곳내용이
                      나오는곳내용이 나오는곳내용이 나오는곳내용이
                    </h2>
                  </div>
                </div>
              </div>
            </div>

            <div class="content-wrap-2">
              <div class="content-wrap">
                <div class="content-wrap-row-1">
                  <div class="my-res"><h2>답변</h2></div>
                </div>
              </div>

              <div class="content-wrap">
                <div class="content-wrap-row-2">
                  <div class="my-title"><h2>제목</h2></div>
                  <div class="title-field"><h2>제목이 나오는곳</h2></div>
                </div>
              </div>

              <div class="content-wrap">
                <div class="content-wrap-row-3">
                  <div class="my-date"><h2>일시</h2></div>
                  <div class="date-field"><h2>일시가 나오는곳</h2></div>
                </div>
              </div>

              <div class="content-wrap">
                <div class="content-wrap-row-4">
                  <div class="my-content"><h2>내용</h2></div>
                  <div class="content-field">
                    <h2>
                      내용이 나오는곳내용이 나오는곳내용이 나오는곳내용이
                      나오는곳내용이 나오는곳내용이 나오는곳내용이
                      나오는곳내용이 나오는곳내용이 나오는곳내용이
                      나오는곳내용이 나오는곳내용이 나오는곳내용이
                      나오는곳내용이 나오는곳내용이 나오는곳내용이
                    </h2>
                  </div>
                </div>
              </div>
            </div>

            <!-- --------------------- -->
          </div>

          <div class="ad">
            <h1>광고자리</h1>
            <h1>광고자리</h1>
            <h1>광고자리</h1>
          </div>
        </div>
      </div>
    </div>

    <script>
      function gomin_list() {
        document.location.href = "/mypage/content";
      }

      function tab_btn() {
        const tab = document.querySelector(".tab");
        const tab2 = document.querySelector(".tab-2");
        console.log("탭1 클릭했습니다.");
        tab.style.display = "block";
        tab2.style.display = "none";
      }

      function tab_btn2() {
        const tab = document.querySelector(".tab");
        const tab2 = document.querySelector(".tab-2");
        console.log("탭2 클릭했습니다.");
        tab2.style.display = "block";
        tab.style.display = "none";
      }
    </script>
  </body>
</html>
