<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GOMIN Pooljang</title>
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body>
    <div class="index-container-wrap">
      <div class="index-container"><%-include('./include/header') %></div>
    </div>
  </body>
</html>
