<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GOMIN Pooljang</title>
  </head>
  <body>
    <h1>고민풀장 메인페이지</h1>
  </body>
</html>
