<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GOMIN Pooljang</title>
    <link rel="stylesheet" href="../static/css/header.css" />
  </head>
  <body>
    <div class="header-wrapper">
      <div class="header">
        <div class="header-content">
          <div class="container logo-container">
            <img
              class="logo"
              src="../static/images/logo.png"
              alt="logo"
              onclick="home()"
            />
          </div>
          <div class="container menu-container">
            <button class="header-menu" onclick="menu2_1()">마이페이지</button>
            <button class="header-menu" onclick="menu2_2()">정보수정</button>
            <button class="header-menu" onclick="menu2_3()">로그아웃</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      function home() {
        document.location.href = "/";
      }

      function menu2_1() {
        document.location.href = "/mypage";
      }

      function menu2_2() {
        alert("내정보수정 입니다");
      }
      async function menu2_3() {
        const dataContainer = document.getElementById("data-container");
        const jwt = dataContainer.getAttribute("data-jwt");
        const loginStatus = dataContainer.getAttribute("data-login-status");
        console.log("JWT ========: ", jwt);
        console.log("Login Status =========: ", loginStatus);

        const config = { headers: { Authorization: `Bearer ${jwt}` } };

        try {
          const res = await axios({
            method: "get",
            url: "/logout2",
            headers: config.headers,
          });

          console.log("Logout Response: ", res.data);
          document.location.href = "/index";
        } catch (error) {}
      }
    </script>
  </body>
</html>
