<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>notification</title>
    <style>
      .noti {
        width: 850px;
        background-image: linear-gradient(to left, #e4fafa, #bae4f3);
        box-shadow: 0px 4px 10px rgbQa(0, 0, 0, 0.1);
        margin: 50px auto 0;
        height: 100px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .noti-content {
        display: flex;
        align-items: center;
        color: rgb(66, 176, 240);
        font-size: 24px;
      }

      .noti img {
        width: 50px;
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <div class="noti">
      <div class="noti-content">
        <img src="/static/images/speaker.png" alt="speaker" />
        <p>공지 사항 : 욕설은 제한됩니다! 법적 조치를 받을 수 있습니다.</p>
      </div>
    </div>
  </body>
</html>
