@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard-Regular", sans-serif;
}

.header {
  width: 100%;
  max-width: 1200px;
  min-width: 600px;
  height: 100px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-container {
  padding: 10px 0 10px 10px;
}

.logo {
  height: 80px;
  cursor: pointer;
  object-fit: contain;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.header-menu {
  background-color: transparent;
  border: none;
  height: 100%;
  padding: 0 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.header-menu:hover {
  background-color: #f0f0f0;
}
