/* 메인 페이지 */

.index-container-wrap {
  max-width: 100%;
  min-width: 1200px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  background-color: white;
}

.index-container {
  width: 1200px;
  height: 1200px;
  overflow-wrap: break-word;
  border: 1px solid red;
  position: relative;
}

.logo {
  width: 100%;
}

/* 고민 받기 버튼 */

.letter-container {
  display: flex;
  width: 1200px;
  height: 800px;
}

.receive-letter {
  display: flex;
  margin-left: 60px;
  margin-top: 150px;
  width: 250px;
  height: 80px;
}

.receive-letter-btn {
  background-image: linear-gradient(to right, #92f8f8, #bae4f3);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 25px;
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* 본문 */

.letter {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto 0;
  width: 70%;
  padding-top: 50px;
  margin-right: 100px;
  height: 800px;
  border-radius: 15px;
  background-image: linear-gradient(to right, #e4fafa, #bae4f3);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  /* align-items: flex-start; */
  text-align: center;
}

/* 컨텐츠 */

.announcement {
  width: 710px;
  border-radius: 25px;
  background-image: linear-gradient(to right, #b8edfa, #c3e4f2);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 100px;
  margin-left: 30px;
}

.announcement span {
  color: rgb(66, 176, 240);
  font-family: "Single Day", serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
}

.announcement > img {
  width: 120px;
  padding-right: 20px;
}

b {
  color: red;
}

/* 모달 */

.modal {
  position: absolute;
  display: none;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
  position: absolute;
  top: 55%;
  width: 600px;
  height: 600px;
  padding: 40px;
  text-align: center;
  background-color: rgb(189, 240, 249);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.modal_body .closeX {
  position: absolute;
  right: 20px;
  top: 10px;
  font-weight: 700;
  color: rgb(18, 214, 228);
  font-size: 20px;
  cursor: pointer;
}

.closeBtn {
  width: 50px;
  height: 30px;
  border-radius: 25px;
  border: none;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #d9f3f3;
  color: rgb(18, 214, 228);
  cursor: pointer;
}

/* 로그인 모달 안 로그인 기능 */

.login,
.join {
  width: 70%;
  height: 590px;
  border-radius: 25px;
  background-color: rgb(253, 251, 251);
  padding: 20px;
  box-sizing: border-box;
  margin-left: auto;
}

.join .duplication {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  border: none;
  background-color: #d9f3f3;
  color: rgb(18, 214, 228);
  font-size: 10px;
  margin-top: 15px;
}

.login h2,
.join h2,
.forgot-pw-modal h2 {
  font-size: 24px;
  color: #33dada;
}

#forget-btn {
  width: 100px;
  height: 20px;
  display: inline-block;
  padding: 0px;
}

.joinBtn {
  width: 50px;
  height: 20px;
  padding: 0px;
}

.login span,
.join span,
.forgot-pw-modal span {
  font-size: 15px;
  color: gray;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

.join .email-join {
  width: 70px;
}

.login p {
  font-size: 10px;
  color: gray;
}

.login input,
.join input,
.forgot-pw-modal input {
  width: 200px;
  border: none;
  border-bottom: 1px solid rgb(199, 196, 196);
  background: none;
  margin-bottom: 20px;
  color: #3888e4;
  font-weight: 500;
}

.flex {
  display: flex;
  margin-left: 30px;
}

#text {
  color: gray;
}

.login .checkbox {
  width: 20px;
}

.login .left,
.join .left,
.forgot-pw-modal .left {
  text-align: left;
  padding-left: 30px;
  font-weight: 700;
}

.join .left-re {
  padding-left: 5px;
}

.join .bold {
  font-weight: 700;
}

.join .letdown {
  width: 100px;
}

.login #checkbox {
  display: inline-block;
  font-size: 15px;
  color: gray;
  font-weight: 500;
}

.login input:focus,
.join input:focus,
.forgot-pw-modal input:focus {
  outline: none;
}

.login button,
.join button,
.forgot-pw-modal button {
  width: 250px;
  height: 40px;
  border-radius: 25px;
  border: none;
  background-color: #d9f3f3;
  color: rgb(18, 214, 228);
  font-size: 30px;
  cursor: pointer;
}

.user {
  display: inline-block;
  font-size: 5px;
}

.login .join {
  color: gray;
  background: none;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid gray;
  padding: 2px 0px;
  box-sizing: border-box;
  width: 50px;
  height: auto;
  font-size: 10px;
  cursor: pointer;
}

.login .join:hover {
  font-size: 11px;
}

#backToLogin {
  width: 100px;
  cursor: pointer;
  font-size: 15px;
}

/* 편지 내용 */

/* .form {
  position: relative;
  width: 50px;
  height: 100%;
  padding: 50px 30px 0;
} */

form {
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 5px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.form-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-group {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  flex-direction: column;
}
.form-group > label {
  display: inline-block;
}
.form-group > .title {
  width: calc(100% - 53px);
}

.bottom {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}

label {
  font-size: 24px;
  font-weight: 700;
  margin-right: 10px;
}

.form-container span {
  display: inline-block;
  font-size: 24px;
  margin-right: 10px;
  color: #33dada;
}

.form-container .right {
  padding-right: 84px;
}

.form-container input,
textarea {
  width: 600px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #33dada;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-image: linear-gradient(to top, #ffffff, #f9fbfb);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-color: #66b3ff;
  box-shadow: 0px 0px 8px rgba(102, 179, 255, 0.5);
}

textarea {
  height: 300px;
  resize: vertical;
}

.form-container button.submit-btn {
  padding: 12px 30px;
  font-size: 24px;
  background-image: linear-gradient(to right, #66b3ff, #3399ff);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: center;
  font-family: "Single Day", serif;
  font-style: normal;
}

.form-container button.submit-btn:hover {
  background-image: linear-gradient(to right, #3399ff, #66b3ff);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

.forgot-pw-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-pw-modal-body {
  position: absolute;
  background-color: rgb(205, 239, 245);
  padding: 10px;
  margin-top: 100px;
  border-radius: 30px;
  width: 500px;
  height: 550px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pw_container {
  width: 70%;
  height: 550px;
  border-radius: 25px;
  background-color: rgb(253, 251, 251);
  padding: 20px;
  margin-top: 40px;
  box-sizing: border-box;
}

.forgot-pw-modal .closeX {
  position: absolute;
  top: 10px;
  left: 480px;
  cursor: pointer;
  font-weight: 700;
  color: rgb(18, 214, 228);
  font-size: 20px;
}

.forgot-pw-modal .check,
.forgot-pw-modal .closeBtn-pw {
  width: 70px;
  height: 30px;
  border-radius: 25px;
  border: none;
  background-color: #d9f3f3;
  color: rgb(18, 214, 228);
  font-size: 15px;
}

.flexable {
  display: flex;
  margin-left: 50px;
}

.check {
  margin-top: 30px;
}

.closeBtn-pw {
  cursor: pointer;
  margin-left: 420px;
  margin-bottom: 60px;
}

.forgot-pw-modal .pw_btn {
  width: 120px;
  height: 30px;
  border-radius: 25px;
  border: none;
  background-color: #d9f3f3;
  color: rgb(18, 214, 228);
  font-size: 15px;
  margin-bottom: 10px;
}

.forgot-pw-modal .letdown {
  width: 120px;
}

form[name="form-reply"] {
  display: none;
}

.andLeft {
  margin-right: 60px;
  width: 600px;
}

.andRight {
  margin-left: 60px;
  width: 600px;
}
