.index-container-wrap {
  max-width: 100%;
  min-width: 1200px;
  height: 1000px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  background-color: #34612b;
  background-image: url("https://www.transparenttextures.com/patterns/sandpaper.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.index-container {
  width: 1200px;
  overflow-wrap: break-word;
  border: 1px solid red;
  height: 100%;
}

.main-body {
  margin-top: 20px;
  border: solid blue;
  display: flex;
  width: 100%;
  height: 800px;
}

.temp {
  border: 2px solid green;
  width: 15%;
}
.board {
  display: flex;
  flex-direction: column;

  border: 2px solid red;
  width: 70%;
}

.ad {
  border: 2px solid blue;
  width: 15%;
  padding-left: 5px;
}

.notice {
  border: 2px solid pink;

  height: 6%;
  line-height: 7px;
}

.main-table {
  display: flex;
  align-items: center;
  border: 2px solid pink;
  width: 100%;
  height: 8%;
}
.main-table-col {
  border: 2px solid blue;
  text-align: center;
  line-height: 14px;
  width: 50%;
  height: 100%;
}

.main-table-th {
  display: flex;

  border: 2px solid red;
  height: 11%;
}

.main-table-th-col {
  border: 2px solid green;
  text-align: center;
  line-height: 14px;
  height: 100%;
}

.tab {
  border: 2px solid pink;
  width: 100%;
  display: block;
}

.tab-2 {
  border: 2px solid pink;
  width: 100%;
  display: none;
}

.tab-btn {
  background-color: transparent; /* 배경색 제거 */
  border: none; /* 테두리 제거 */
  color: #000; /* 텍스트 색상 설정 */
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 20px;
}

.tab-btn:hover {
  cursor: pointer;
  color: red;
}
.title-hover:hover {
  cursor: pointer;
  color: red;
}

.pageing-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-btn {
  width: 35px;
  height: 45px;
  font-size: 30px;
  font-weight: bold;
  /* background: none;
  border: none; */
  font-family: "Single Day", serif;
  font-style: normal;
}

.page-btn:hover {
  cursor: pointer;
}

li {
  list-style-type: none;
  padding: 0; /* 패딩 제거 (선택 사항) */
  margin: 0; /* 마진 제거 (선택 사항) */
}

.ad-container-1 {
  height: 250px;
  padding-top: 50px;
  border: 2px solid red;
}

.img-class {
  width: 100%;
  height: 100%;
}
